* {
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color:rgb(232, 207, 144);
    background-image: url(https://i.imgur.com/WLigWwO.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
h1 {
    font-size: 40px;
    margin: 20px auto;
}
.emptytopspace {
    height: 30px;
}
.header {
    width: 100%;
}

h1 {
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.gamescreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.leftgamescreen {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    text-align: center;
    font-size: 20px;

}

.gridwrapper {
    width: 60%;
    margin: 0 auto;
}

.rightgamescreen {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    text-align: center;
    font-size: 20px;
}
.boardwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
}

.button {
    background-color: rgb(225, 250, 255);
    height: 150px;
    width: 150px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;    
}

.turnbanner {
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
}

.xturn {
    background-color: snow;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    font-size: 120px;
    cursor: pointer;
}


.oturn {
    background-color: red;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    font-size: 120px;
    cursor: pointer;
}

.resetButton {
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
    border: 1px solid black;
    width: 60%;
}

.resetscores {
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
    border: 1px solid black;
    width: 60%; 
}

.padding {
    padding: 20px;
}

.ryuhealth {
    display: block;
    transition: all 300ms linear;
}

progress {
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: all 300ms linear;
}
